* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Arvo', serif;
}

.header {
  color: #fff;
  background: #ff0a78;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.note {
  color: #dbe1e8;
  background: linear-gradient(to left, rgba(209, 16, 141, 0.5), rgb(157, 6, 26));
  min-height: 90vh;
  padding: 3rem;
}

.footer {
  background: #7b637e;
  color: #b2becd;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
